$size-primary: 100px;
$rainbow: (
    color1: rgba(red, 0.8),
    color2: rgba(orange, 0.8),
    color3: rgba(yellow, 0.8),
    color4: rgba(green, 0.8),
    color5: rgba(blue, 0.8),
    color6: rgba(indigo, 0.8),
    color7: rgba(violet, 0.8),
);

@import "cssReset";

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.space {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;

    &::after {
        content: '';
        display: block;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
    }
}

.circle-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@for $i from 1 through length($rainbow) {
    .circle#{$i} {
        width: $size-primary * (10 - $i);
        height: $size-primary * (10 - $i);
    }
}

@each $key, $value in $rainbow {
    .circle-#{$key} {
        border: 50px solid $value;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
}

@for $i from 1 through length($rainbow) {
    .circle-animation-#{$i} {
        animation: fade 3s ease-in-out infinite;
        animation-delay: 0.3s * ($i - 1);

        &:hover {
            animation: none;
        }

        cursor: pointer;
    }
}